.mc-coords {
    position: absolute;
    top: 10px;
    left: 60px; /* décalé pour laisser les boutons Leaflet */
    width: 150px;
    height: 60px;

    background: rgba(0, 0, 0, 0.85);
    color: #fff;

    font-family: monospace;
    font-size: 12px;
    padding: 6px;
    border-radius: 4px;

    pointer-events: none;
    z-index: 9999;
}
